:root {
  --ihc-background-color-white: white;
  --ihc-background-color-dark: black;
  --ihc-primary-color: black;
  --ihc-secondary-color: lightgray;
  --ihc-logocolor: red;
  --ihc-transparency: rgba(211, 211, 211, 0.85);
  --ihc-BtnRound-BorderRadius: 50%;
  --ihc-input-BorderRadius: 2rem;
  /* HEADER */ 
  --ihc-header-background-color: rgb(191, 234, 191);
  /* GAP */
  --ihc-gap-xs: 0.3rem;
  --ihc-gap-s: 1rem;
  --ihc-gap-m: 1.5rem;
  /* PADDING */
  --ihc-padding-none: 0px;
  --ihc-padding-s: 0.5rem;
  --ihc-padding-m: 1rem;
  --ihc-padding-l: 1.5rem;
  --ihc-padding-xl: 2rem;
  --ihc-buttons-height-default: 35px;
  --ihc-buttons-width-default: 35px;
  --ihc-buttons-width-smaller: 25px:
}
* {
  margin: 0px;
  padding: var(--ihc-padding-none);
  box-sizing: border-box;
}
body {
  background-color: var(--ihc-background-color-white);
  color: var(--ihc-primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
.oscuro {
  background-color: var(--ihc-background-color-dark);
  color: var(--ihc-secondary-color);
}

/* HEADER */

header {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  gap: var(--ihc-gap-m);
  padding: var(--ihc-padding-none) var(--ihc-padding-xl);
  background-color: var(--ihc-header-background-color);
  margin-bottom: 5px;
}
header > h1 {
  background-color: var(--ihc-logocolor);
  width: var(--ihc-buttons-width-default);
  height: var(--ihc-buttons-height-default);
  border-radius: var(--ihc-BtnRound-BorderRadius);
  font-size: 1.5rem;
  text-align: center;
  color: var(--ihc-secondary-color);
}
header > input {
  height: var(--ihc-buttons-height-default);
  width: 500px;
  border-radius: var(--ihc-input-BorderRadius);
  padding: var(--ihc-padding-m) var(--ihc-padding-l);
  background-color: var(--ihc-secondary-color);
  background: url(https://res.cloudinary.com/df7b0dj9r/image/upload/c_scale,w_25/v1710671225/lupa_wsgqx9.png) no-repeat 3px 5px
}
header > button {
  height: var(--ihc-buttons-height-default);
  width: var(--ihc-buttons-width-default);
  border-radius: var(--ihc-BtnRound-BorderRadius);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button:hover {
  background-color: var(--ihc-secondary-color);
}
header > img {
  height: var(--ihc-buttons-height-smaller);
  width: var(--ihc-buttons-height-smaller);
  background-color:white;
}
header .icon {
  filter: contrast(30%);
}
header .imgProfile {
  border-radius: var(--ihc-BtnRound-BorderRadius);
  height: var(--ihc-buttons-height-default);
  width: var(--ihc-buttons-width-default);

}
header .imgProfile:hover {
  background-color: var(--ihc-secondary-color);
}

/* FOOTER  */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

/* GALERIA */

.galeria {
  padding: var(--ihc-padding-none) var(--ihc-padding-m);
  display: grid;
  grid-auto-rows: 200px;
  gap: var(--ihc-gap-m);
  grid-auto-flow: row dense;
}

/* Articulos Galeria */
/* estilo al contenedor que va a alojar la imagen y los botones*/
.itemGaleria {
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: var(--ihc-input-BorderRadius);
  overflow: hidden;
}
.itemGaleria > div {
  padding: var(--ihc-padding-l);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* para que no se vean los botones de guardar, subir, mas....*/
  display: none;
}
.itemGaleria:hover > div {
  display: flex;
}
.itemGaleria:hover {
  box-shadow: 5px 1px 10px 2px #000000;
}
.itemGaleria .GuardarBtn {
  display: flex;
  justify-content: flex-end;
}
.itemGaleria .Enlaces {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemGaleria button {
  padding: var(--ihc-padding-s) var(--ihc-padding-s);
  border-radius: var(--ihc-input-BorderRadius);
  border: none;
  background-color: var(--ihc-logocolor);
  color: var(--ihc-background-color-white);
  font-size: 1rem;
}
.itemGaleria .EnlacCompleto {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}
.itemGaleria .Enlaces a {
  background-color: var(--ihc-transparency);
  padding: var(--ihc-padding-s);
  border-radius: var(--ihc-input-BorderRadius);
  font-size: 0.8rem;
}
.itemGaleria .Enlaces img {
  width: var(--ihc-buttons-width-smaller);
  height: var(--ihc-buttons-height-smaller);;
}
.itemGaleria .Enlaces div {
  display: flex;
  gap: var(--ihc-gap-s);
}
.itemGaleria .EnlaceIcon {
  width: var(--ihc-buttons-width-default);
  height: var(--ihc-buttons-height-default);
  border-radius: var(--ihc-BtnRound-BorderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ajustar el grid */

.itemGaleria:nth-child(3) {
  grid-column: span 2;
}
.itemGaleria:nth-child(5) {
  grid-row: span 2;
}
.itemGaleria:nth-child(6) {
  grid-column: span 2;
}
.itemGaleria:nth-child(12) {
  grid-row: span 2;
  grid-column: span 2;
}
.itemGaleria:nth-child(13) {
  grid-column: span 2;
}
.itemGaleria:nth-child(14) {
  grid-row: span 2;
}
.itemGaleria:nth-child(19) {
  grid-column: span 2;
}
.itemGaleria:nth-child(23) {
  grid-row: span 2;
}
.itemGaleria:nth-child(21) {
  grid-row: span 2;
}
/* MEDIA QUERY'S */

@media (max-width: 478px) {
  #TemasBtn {
    display:none;
  }
  .imgProfile{
    display:none;
  }
  header{
    gap: var(--ihc-gap-xs);
    margin:1px;
    padding:var(--ihc-padding-s) var(--ihc-padding-s)
  }
}

@media screen and (min-width: 576px) {
  .galeria {
    grid-template-columns: repeat(1, fr);
  }
}

@media screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .galeria {
    grid-template-columns: repeat(6, 1fr);
  }
}
